{% extends 'index.html' %}

{% block content %}

<h1 class="display-1 mb-2 text-center">Netflix Titles Analyzer</h1>

<!--graph selection-->
<div class="d-flex align-items-center justify-content-center md-2">
    <div class="dropdown">
        <select id="graphSelector" onchange="loadGraph()" class="btn btn-outline-primary dropdown-toggle">
            <option class="dropdown-item" value="genre_graph">Top 10 Genres</option>
            <option class="dropdown-item" value="rating_distribution_graph">Content Distribution by Ratings</option>
            <option class="dropdown-item" value="trend_graph">Trend of Additions Over the Years</option>
            <option class="dropdown-item" value="top_countries_graph">Top 10 Countries with Most Content</option>
        </select>
    </div>
</div>

<div id="graphContainer" class="d-flex justify-content-center mt-2">
</div>

<script>
    function loadGraph() {
        const selectedGraph = document.getElementById("graphSelector").value;
        const graphContainer = document.getElementById("graphContainer");
    
        //generating graph with api call
        graphContainer.innerHTML = `
            <img src="/${selectedGraph}/" alt="${selectedGraph}" class="img-fluid rounded">
        `;
    }
    
    //graph bugs when reloading the page, so geenrating the graph on page load and default is genre_graph for no particular reason except it's first
    window.onload = function() {
        document.getElementById("graphSelector").value = "genre_graph";
        loadGraph();
    };
    
</script>

{% endblock content %}
