<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <title>{% block title %}]Netflix Titles{% endblock title %}</title>
    {% endblock head %}
  </head>
  <body class="body h-100">
    {% include "navbar.html" %}
    {% block content %} 
    {% endblock content %}
    <footer>
        <div class="footer">
          <p>CPRO 2201 - Final Project - Ryan McGrandle, Kaden de Frece</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-QF/nPBlPdwA9eDd5J+S+5yMWz4+w4pP1pFygqL/n/zf4FqZHyTXR67Q3Jukj5jAj" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>