{% extends 'index.html' %}

{% block content %}
    
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Release Year</th>
            <th>Rating</th>
            <th>Directors</th>
            <th>Cast</th>
            <th>Listed In</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for title in titles %}
        <tr>
            <td>{{ title.title }}</td>
            <td>{{ title.type }}</td>
            <td>{{ title.release_year }}</td>
            <td>{{ title.rating }}</td>

            <td>
                {% for director in title.directors.all %}
                    {{ director.director_name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No directors listed
                {% endfor %}
            </td>

            <td>
                {% for cast in title.casts.all %}
                    {{ cast.cast_name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No cast listed
                {% endfor %}
            </td>

            <td>
                {% for listed_in in title.listed_in.all %}
                    {{ listed_in.listed_in_name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No categories listed
                {% endfor %}
            </td>

            <td>{{ title.description }}</td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="8">No titles available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}